* {
  font-family: 'Monospace';
  box-sizing: border-box;
}

h1 {
  background: linear-gradient(to bottom right, #9167de, #c4bed0);
  padding: 10px;
  border-radius: 10px;
  color: white;
  
}

h2 {
  font-size: 2em;
}

li {
  color: #9167de;
  font-weight: bold;
}

.recipes {
  display: flex;
  flex-wrap: nowrap;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #f2f2f2;
  padding: 1em 3em 2.5em;
  margin: 3em;
  text-align: center;
  border-radius: 10px;
}

/* img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  max-height: 200px; /* add this line to limit the height of the image */
} */

.box {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.box img {
  width: 20em;
  height: 20em;
  object-fit: cover;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}